@charset "utf-8";
/* CSS Document */

.toggle-box {
    display: none;
}

.toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
    color: #366509;
}

.toggle-box + label + div {
    display: none;
    margin-bottom: 10px;
}

.toggle-box:checked + label + div {
    display: block;
}

#expand p {
    font-weight: bold;
    color: #366509;
}

.toggle-box + label:before {
    background-color: #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    content: "+";
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}

.toggle-box:checked + label:before {
    content: "\2212";
}
