#Gruppo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #999;
    height: 30px;
    width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-left: 5px;
    border: thin solid #366509;
}

#formTXfield input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666666;
    border: thin solid #366509;
    margin: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-size: medium;
    height: 30px;
    width: 198px;
}

#formButton input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #FFF;
    background-color: #ACDA37;
    height: 35px;
    width: 200px;
    margin: 5px;
}

#formTXfield textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666666;
    border: thin solid #366509;
    margin: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-size: medium;
    height: 150px;
    width: 695px;
}
