@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#expand_plus {
    padding-left: 60px;
}

a {
    color: #660066;
}

a:hover {
    color: #660066;
}

#footer #footer_menu #space_menu {
    padding: 20px;
    height: 45px;
    width: 130px;
    float: left;
}

body {
    background-color: #D5ED7E;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrapper {
    background-color: #FEFFCB;
    background-image: url(../images/bckg_3erba.png);
    height: auto;
    width: 1060px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#header #logo {
    float: left;
    height: 164px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

#header #nmenu {
    margin-top: 80px;
    margin-left: 289px;
}

#content {
    clear: both;
}

#left_content {
    float: left;
    height: auto;
    width: 250px;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

#right_content {
    float: right;
    height: auto;
    width: 750px;
    margin-right: 20px;
    margin-top: 15px;

}

#title {
    background-color: #366509;
    height: 27px;
    width: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFF;
    padding-left: 15px;
    padding-top: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#article {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #FFF;
    text-align: justify;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    opacity: 0.9;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-bottom: 15px;
    clear: both;
}

#article_yellow {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #FC0;
    text-align: justify;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-bottom: 15px;
    color: #609;
    display: block;
}

#article_yellow a {
    color: #609;
}

#article_orange {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #F60;
    text-align: justify;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-bottom: 15px;
    color: #30F;
    display: block;
}

#article_orange a {
    color: #30F;
}

#article_blue {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #03F;
    text-align: justify;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-bottom: 15px;
    color: #F60;
    display: block;
}

#article_blue a {
    color: #F60;
}

#article_purple {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #609;
    text-align: justify;
    height: auto;
    width: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-bottom: 15px;
    color: #FC0;
    display: block;
}

#article_purple a {
    color: #FC0;
}

#footer {
    width: 1020px;
    margin-right: 20px;
    margin-left: 20px;
    color: #FFF;
    background-color: #366509;
    clear: both;
    font-size: small;
    margin-top: 15px;
    margin-bottom: 20px;
}

#footer a {
    color: #FFF;
}

#footer #footer_end {
    font-size: small;
    margin-top: 15px;
    margin-left: 20px;
    width: 1020px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    clear: both;
}

#wrapper #header p {
    color: #FFF;
    margin-left: 20px;
    padding-top: 20px;
}

#link_box {
    text-align: center;
    display: block;
    padding-bottom: 20px;
}

#link_box a {
    color: #006600;
}

#article table tr {
    color: #333;
}

#article table tr a {
    color: #063;
}

#article table tr a:hover {
    color: #0C0;
}

#article_img {
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}
