@charset "utf-8";

#navMenu {
    margin: 0;
    padding: 0;
}

#navMenu ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#navMenu li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
    background-color: #366509;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navMenu ul li a {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    height: 30px;
    width: 150px;
    display: block;
    color: #FFFFFF;
}

#navMenu ul ul {
    position: absolute;
    visibility: hidden;
    top: 30px;
}

#navMenu ul li:hover ul {
    visibility: visible;
}

.clearFloat {
    clear: both;
    margin: 0;
    padding: 0;
}

/*******************************************************************************************************************************/

#navMenu li:hover {
    background: #FFFFFF;
}

#navMenu ul li:hover ul li a:hover {
    color: #000000;
    background-color: #00CCFF;
}

#navMenu a:hover {
    color: #000000;
}

#contact_form #form #comments {
    width: 400px;
    height: 100px;
}

#contact_form #form label #send {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: medium;
    background-color: #FFF;
    padding-right: 8px;
    padding-left: 8px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: #666;
    border-right-color: #666;
    border-bottom-color: #666;
    border-left-color: #666;
}

#contact_form #form #send2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: medium;
    background-color: #FFF;
    padding-right: 8px;
    padding-left: 8px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: #666;
    border-right-color: #666;
    border-bottom-color: #666;
    border-left-color: #666
}

-----------------------------------
#navMenu_logIn {
    margin: 0;
    padding: 0;
}

#navMenu_logIn ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#navMenu_logIn li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
    background-color: #F90;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navMenu_logIn ul li a {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    height: 30px;
    width: 150px;
    display: block;
    color: #FFFFFF;
}

#navMenu_logIn ul ul {
    position: absolute;
    visibility: hidden;
    top: 30px;
}

#navMenu_logIn ul li:hover ul {
    visibility: visible;
}

.clearFloat {
    clear: both;
    margin: 0;
    padding: 0;
}

/*******************************************************************************************************************************/

#navMenu_logIn li:hover {
    background: #FFFFFF;
}

#navMenu_logIn ul li:hover ul li a:hover {
    color: #000000;
    background-color: #00CCFF;
}

#navMenu_logIn a:hover {
    color: #000000;
}

}

